<div class="error">
	<% if @error %>
	<%= @error %>
	<% end %>
</div>
<br>
<form action="/user/login" method="post">
	Email:
	<input type="text" name="email"><br>
	Password:
	<input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>